In [58]:
import numpy as np
import pandas as pd

In [69]:
#Set values for the run
prime = 2 
beta = -.99
set_charges = [1,-1,1,-1]

In [60]:
#Creating Dataframs
df = pd.read_csv("size4p2.csv", delimiter ="|")
df_out = pd.DataFrame(columns = ['tree_id', 'Terms', 'phys_prob'])
df_out['tree_id'] = df['tree_id']
df_out['Terms'] = 0.0
df_out['phys_prob'] = 0
df_out

    tree_id  Terms  phys_prob
0        16    0.0          0
1        18    0.0          0
2        24    0.0          0
3        10    0.0          0
4        12    0.0          0
5        14    0.0          0
6        20    0.0          0
7        21    0.0          0
8        22    0.0          0
9        26    0.0          0
10       27    0.0          0
11       28    0.0          0
12       30    0.0          0
13       31    0.0          0
14       32    0.0          0
15        7    0.0          0
16        8    0.0          0
17        9    0.0          0
18       11    0.0          0
19       13    0.0          0
20       15    0.0          0
21       17    0.0          0
22       19    0.0          0
23       23    0.0          0
24       25    0.0          0
25       29    0.0          0

In [46]:
def falling_factorial(x,n):
    prod = 1.0
    for i in range (0, n):
        prod *= x-i
    return prod

In [61]:
def term(branches, degrees, p, beta, intrc_enrgy_array):
    #branch_arr = branches.apply(lambda b: list(map(int, b[1:-1].split(","))))
    branch_arr = list(map(int, branches[1:-1].split(",")))
    #deg_arr = degrees.apply(lambda d: list(map(int, d[1:-1].split(","))))
    deg_arr = list(map(int, degrees[1:-1].split(",")))
    out = 1.0
    for i in range(0, len(branch_arr)):
        out *= falling_factorial(p, deg_arr[i])/(p**(bin(branch_arr[i]).count("1") + (beta * intrc_enrgy_array[branch_arr[i]])) - p)
    return out

In [47]:
def interaction_energy(charges, size_of_charge): 
    out = np.empty(pow(2, size_of_charge), dtype= float)
    for J in range (0,  pow(2, size_of_charge)):
        sum1 = 0.0
        sum2 = 0.0
        for i in range (1, size_of_charge + 1):
            sum1 += ((bool(J & (1 << (i - 1)))) * charges[i - 1])
            sum2 += ((bool(J & (1 << (i - 1)))) * charges[i - 1] * charges[i - 1])
        out[J] = (((sum1 * sum1) - sum2) / 2.0)
    return out

In [48]:
interaction_energy([1,-1,1,-1], 4)

array([ 0.,  0.,  0., -1.,  0.,  1., -1., -1.,  0., -1.,  1., -1., -1.,
       -1., -1., -2.])

In [70]:
for i in range(0, 26):
    df_out.loc[i,"Terms"] = (term(df.loc[i,'branches'], df.loc[i,'degrees'], prime, beta, interaction_energy(set_charges,len(set_charges))))

In [71]:
sum = 0.0
for i in range(0, 26):
    sum += df_out.loc[i,"Terms"]
print(sum)

679.1110674894267

In [72]:
df_out['phys_prob'] = df_out['Terms']/sum
display(df_out)
prob_sum = 0.0
for i in range(0, 26):
    prob_sum += df_out.loc[i,"phys_prob"]
print("The sum of the probabilities is")
print(prob_sum)

    tree_id       Terms  phys_prob
0        16    0.003704   0.000005
1        18  676.381242   0.995980
2        24    0.003704   0.000005
3        10    0.001585   0.000002
4        12    0.677434   0.000998
5        14    0.001585   0.000002
6        20    0.001585   0.000002
7        21    0.001585   0.000002
8        22    0.677434   0.000998
9        26    0.677434   0.000998
10       27    0.001585   0.000002
11       28    0.001585   0.000002
12       30    0.001585   0.000002
13       31    0.677434   0.000998
14       32    0.001585   0.000002
15        7   -0.000000  -0.000000
16        8    0.000000   0.000000
17        9    0.000000   0.000000
18       11    0.000000   0.000000
19       13    0.000000   0.000000
20       15    0.000000   0.000000
21       17    0.000000   0.000000
22       19    0.000000   0.000000
23       23    0.000000   0.000000
24       25    0.000000   0.000000
25       29    0.000000   0.000000

The sum of the probabilities is
0.9999999999999994